body {
	background-color: #FFFFFF;
	color: #666666;
	font-family: "Arial", "Helvetica", sans-serif;
}

header{
	background-color:#000033;
	color: #FFFFFF;
	height: 60px;
	text-indent: 1em; 
	background-image: url("images/sunset.jpg");
	background-position: right;
	background-repeat: no-repeat;
	line-height: 400%;
	
}

nav{
	background-color: #90C7E3;
	font-weight: bold;
}

nav a{
	text-decoration: none;
}

main ul{
	list-style-image: url('images/marker.gif');
}

h1{
	font-family: "Georgia", "Times New Roman", serif;
}

h2{
	font-family: "Georgia", "Times New Roman", serif;
	color: #3399CC;
}

h3{
	font-family: "Georgia", "Times New Roman", serif;
	color: #000099;
}

footer{
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: "Georgia", "Times New Roman", serif;
}

dt{
	font-weight: bold;
	line-height: 250%;
	color: #000099;
}

.resort{
	color: #5C7FA3;
	font-weight: bold;
}

#contact{
	font-size: 90%;
}